<?xml version="1.0" ?>
<!--
   #    ##   #  #   #
  # #  #  #  #  #  # #                          #
 ##### #  #  #  # #####  ##  ###  #  #  ## ###  ###
 #   # #  #  #  # #   # #  # #  # #  # #   #  # #  #
 #   # #  #  #  # #   # #  # #  # #  #   # #  # #  #
 #   #  ## #  ##  #   #  ### ###   ### ##  ###  #  #
                           # #             #
                         ##  #             #

Another QUAlity GPU-SPH, by CEHINAV.
    http://canal.etsin.upm.es/
Authors:
    Jose Luis Cercos-Pita
    Leo Miguel Gonzalez
    Antonio Souto-Iglesias
-->

<sphInput>
    <Settings>
        <Device platform="0" device="0" type="GPU" />
    </Settings>
</sphInput>
